section {
  position: relative;
  padding: 2rem 1rem 1rem;
  border: 3px solid #bdc3c7;
  border-radius: 8px;
}
section[data-name]::before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem;
  font-size: 20px;
  color: white;
  background-color: #27ae60;
  border-radius: 0.25rem;
  z-index: 1;
  content: attr(data-name);
  pointer-events: none;
}